/* CSS rules - general */
* {
	margin: 0;
	box-sizing: border-box;
	background-color: khaki;
}

.box {
	width: 750px;
	height: 500px;
	border: 10px solid blue;
	padding: 60px;
	background-color: yellow;
	margin: 10px;
	display: inline-block;
}

/* p {
  font-size: 22px;
  text-decoration: underline;
} */

p:first-child {
	text-align: left;
	width: 400px;
	background-color: grey;
}

div {
	background-color: darkgoldenrod;
}

/* Jednostki względne  */

.relativeFonts {
	background-color: inherit;
}

/* 1 rem = 16px domyslnie */

/* nadpisanie wysokosci roota co do fontu */
html {
	font-size: 10px;
}

.parent {
	font-size: 1.5em;
}

.child1 {
	font-size: 2em;
}

.child2 {
	font-size: 0.75em;
}

.secondChild1 {
	font-size: 3em;
}
img {
	visibility: hidden;
	/* display: none; */
	margin: 20px;
	width: 300px;
}

.formularzDoMikolaja {
  background-color: rgb(246, 180, 180);
  border-radius: 15px;
  padding: 10px;
  border: 2px solid red;
}

.formularzDoMikolaja > * {
  background-color: inherit;
  margin: 8px 0;
  border-radius: 5px;
}
#imie, #nazwisko, #wiek {
  background-color: white;
}
#list {
  width: 95%;
  min-height: 100px;
  background-color: white;
}
#przeslijList {
  background-color: rgb(113, 28, 28);
  color: aliceblue;
}
#przeslijList:hover {
  background-color: rgb(235, 216, 216);
}


/* CSS rules - @media queries */
/* obsłuzyc podstawowe break points */

/* 576 768 992 1200 px */

@media screen and (max-width: 575px) {
	.shortText,
	.longText,
	div {
		display: none;
	}
}
/* 1 rem = 16px domyslna wysokosc fontu */
@media screen and (min-width: 576px) and (max-width: 767px) {
	.shortText {
		background-color: red;
		font-size: 2rem;
	}

	.longText {
		background-color: blue;
		font-size: 1.5rem;
	}

	.boxes {
		width: 100%;
	}

	.firstLine {
		width: 90%;
		margin: 0 auto;
	}
	img {
		visibility: visible;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.shortText,
	.longText {
		background-color: darkgreen;
		color: gold;
	}

	.box {
		border-color: red;
		background-color: greenyellow;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.box {
		margin: 0;
	}

	/* .box12 {
    max-width: 50%;
  } */

	.firstLine,
	.lastLine {
		display: flex;
	}

	.box p {
		width: 100px;
	}

	.box3 {
		width: 100%;
	}
}

/* oprogramuj style w tym przedziale aby w pierwszej linii były trzy boxy równej szerokości a drugiej dwa tez równej szerkości */

@media screen and (min-width: 1200px) {
	
  /* First line */
  .boxes {
    display: flex;
    flex-wrap: wrap;
  }
  .firstLine {
    display: flex;
    width: 66.6%;
    margin: 0;
    padding: 0;
  }
  .firstLine > .box {
    margin: 0;
  }
  .box3 {
    width: 33.3%;
    margin: 0;
    animation-name: change;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    transition: 4s;
  }

  .box3:hover {

  transform: rotateY(180deg);
  }

  .firstLine > * > p,
  .box3 > p {
    width: 100px;
  }

  /* Second line */
  .lastLine {
    display: flex;
    width: 100%;
  }

  .lastLine > .box {
    margin: 0;
    min-width: 50%;
  }
}
@keyframes change {
  0% {
    background-image: url("https://media.istockphoto.com/id/1357890877/pl/wektor/uroczy-taniec-%C5%9Bwi%C4%99tego-miko%C5%82aja-%C5%9Bwi%C4%85teczna-ilustracja-wektorowa.jpg?s=612x612&w=0&k=20&c=T154IbUdpjXwal18wTsFPFZ47gBUJc5bYT84sIj6f9I=");
  }
  25% {
    background-image: url("https://s9.tvp.pl/images2/9/9/9/uid_9993b5abff84f08a8d1f6a1a583b60ed1608719985432_width_900_play_0_pos_0_gs_0_height_506.jpg");
  }
  75% {
    background-image: url("https://marketplace.canva.com/EAFVZkS4VJ0/1/0/1600w/canva-święta-życzenia-kartka-choinka-szyszka-zielony-post-na-facebooka-e-7fPwodS-c.jpg");
  }
  100% {
    background-image: url("https://media.istockphoto.com/id/1357890877/pl/wektor/uroczy-taniec-%C5%9Bwi%C4%99tego-miko%C5%82aja-%C5%9Bwi%C4%85teczna-ilustracja-wektorowa.jpg?s=612x612&w=0&k=20&c=T154IbUdpjXwal18wTsFPFZ47gBUJc5bYT84sIj6f9I=");
  }
}
